<nav class="navbar navbar-dark navbar-expand-sm text-bg-primary py-0">
    <div class="container-xxl">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation-collapse" aria-controls="navigation-collapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation-collapse">
            <div class="navbar-nav">
                <div class="nav-item btn btn-primary py-0 rounded-0 fs-5">
                    <a [routerLink]="['Home']" class="nav-link text-reset">Home</a>
                </div>
                <div class="nav-item btn btn-primary py-0 rounded-0 fs-5">
                    <a [routerLink]="['404']" class="nav-link text-reset">404</a>
                </div>
            </div>
        </div>
    </div>
</nav>