<div class="navbar navbar-light text-bg-light">
    <div class="container-xxl">
        <a class="navbar-brand" [routerLink]="['']">
            <img src="https://raw.githubusercontent.com/seanmcnamee/photos/main/seanlogo-dark.png" alt="Icon" width="30"
                height="30">
                AngularBootstrapTemplate
        </a>
        <div class="navbar-text ms-auto text-black">
            <div class="col-12 fs-2">
                {{title}}
            </div>
            <div class="col-12 fs-5">
                {{subTitle}}
            </div>
        </div>
    </div>
</div>